.body {
  background-color: rgb(2, 0, 32);
}
.page-header {
  background-image: url("https://www.mhh.de/fileadmin/mhh/paed-pneumologie-allergologie-neonatologie/Neue_Bilder/Forschung/Forschung_AG_Baumann_Immunologie__iStock-1204697609_Kachel_220.jpg");
  text-align: center;
  padding: 10px;
  height: 100px;
  width: 100%;
  color: aliceblue;
}

h1 {
  font-weight: bolder;
  font-size: 70px;
}

.jumbotron {
  margin: 1%;
}

h2 {
  font-size: 50px;
  font-weight: normal;
}

.card {
  margin-top: 2.1%;
  max-width: 420px;
}

.card-img-top {
  max-height: 200px;
}

.quote {
  font-size: 15px;
}

.blockquote-footer{
  font-size: 10px;
}

.card-header {
  font-weight: bold;
  color: steelblue;
  text-align: center;
}

#map,
body,
html {
  height: 100%;
}