<!-- Landing Page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Page Title -->
    <title>VAE Watcher</title>

    <!-- Bootstrap CSS Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
  </head>

  <body class="body">
    <!-- Navegation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(3, 0, 51)">
        <a class="navbar-brand mx-auto" href="#"><b>Vaccine Adverse Events</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vaccines.html">Vaccination</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vaes.html">VAE Analysis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="map.html">Map</a>
            </li>
        </ul>
        </div>
    </nav>
    <!-- Page Header -->
    <div class="page-header">
        <h1>VAE Watcher</h1>
    </div>

    <!-- Page Content -->
    <div class="row">
        <div class= "col-md-8">
            <div class="jumbotron">
                <h2 class="display-4">Welcome to VAE Watcher!</h2>
                <p class="lead">VAE Watcher is the result of our team wanting to provide a thorough analysis on the progress of 
                    COVID vaccination in the US, more specifically, the VAEs (Vaccine Adverse Events) registered. We analyzed the data obtained
                    by the VAE Report System, to determine key factors that influence VAEs in people of all ages. We want to combat the misinformation
                    and fear associated with getting the vaccine, by providing you with real data provided by real people.</p>
                <hr class="my-4">
                <p>Our results were obtained through the use of machine learning technologies to ensure the data is as clean and as accurate as possible.
                    Linear regression and text analysis were some of the methods used to complete this project.
                </p>
                <p class="lead">
                <a class="btn btn-primary btn-lg" href="vaes.html" role="button">See The Results!</a>
                </p>
            </div>
        </div>
        <div class= "col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/5EC1/production/_117775242_gettyimages-1254511383.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">See Vaccination Progress!</h5>
                    <p class="card-text">Our site allows you to see the real time vaccination progress and some stats! Always using real data.</p>
                    <a href="vaccines.html" class="btn btn-primary">Go to Stats</a>
                    <a href="map.html" class="btn btn-info">Go to Map</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                Get Vaccinated!
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p class="quote">When I make a decision, I try to support it with a lot of facts and knowledge.</p>
                    <footer class="blockquote-footer">Dr Sead Zeinel for <cite title="Source Title">Vaccines Save Lives</cite></footer>
                  </blockquote>
                </div>
              </div>
        </div>
    </div>

    <!-- Necessary Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>