<!-- Landing Page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Page Title -->
    <title>VAE Watcher - Map</title>

    <!-- Bootstrap CSS Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  </head>

  <body class="body">
    <!-- Navegation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(3, 0, 51)">
        <a class="navbar-brand mx-auto" href="#"><b>Vaccine Adverse Events</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vaccines.html">Vaccination</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vaes.html">VAE Analysis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="map.html">Map</a>
            </li>
        </ul>
        </div>
    </nav>

    <!-- Page Header -->
    <div class="page-header">
        <h1>VAE Watcher</h1>
    </div>

    <!-- Page Content -->
    <div class="row">
        <div class="col-md-3">
            <div class="jumbotron">
                <h4>See Where VAES Were Reported!</h4>
                <p class="lead">This map shows the number of adverse effects for each State in the US.</p>
                <hr class="my-4">
                <p>Our results were obtained through the use of machine learning technologies to ensure the data is as clean and as accurate as possible.
                    Linear regression and text analysis were some of the methods used to complete this project.
                </p>
            </div>
        </div>
        <div class="col-md-9">
            <iframe src='https://husseinhuesca.github.io/vaccinesmap.github.io/index.html' width='97%' height='100%' title='Map' zoom='80%'></iframe>
        </div>
    </div>

    <!-- Necessary Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>