<!-- Landing Page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Page Title -->
    <title>VAE Watcher - Map</title>

    <!-- Bootstrap CSS Stylesheet -->
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
    <link rel="stylesheet" href="static/css/style.css">
  </head>

  <body class="body">
    <!-- Navegation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(3, 0, 51)">
        <a class="navbar-brand mx-auto" href="#"><b>Vaccine Adverse Events</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vaccines.html">Vaccination</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vaes.html">VAE Analysis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="map.html">Map</a>
            </li>
        </ul>
        </div>
    </nav>

    <!-- Page Header -->
    <div class="page-header">
        <h1>VAE Watcher</h1>
    </div>

    <!-- Page Content -->
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <h2 class="display-4">Welcome to VAE Watcher!</h2>
                <p class="lead">VAE Watcher is the result of our team wanting to provide a thorough analysis on the progress of 
                    COVID vaccination in the US, more specifically, the VAEs (Vaccine Adverse Events) registered. We analyzed the data obtained
                    by the VAE Report System, to determine key factors that influence VAEs in people of all ages. We want to combat the misinformation
                    and fear associated with getting the vaccine, by providing you with real data provided by real people.</p>
                <hr class="my-4">
                <p>Our results were obtained through the use of machine learning technologies to ensure the data is as clean and as accurate as possible.
                    Linear regression and text analysis were some of the methods used to complete this project.
                </p>
                <p class="lead">
                <a class="btn btn-primary btn-lg" href="vaes.html" role="button">See The Results!</a>
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <div id="map">
            </div>
        </div>
    </div>

    <!-- Necessary Scripts -->
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
    <!-- API Key -->
    <script type="text/javascript" src="static/map/config.js"></script>
    <!-- Our JavaScript -->
    <script type="text/javascript" src="static/map/logic.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>