<!-- Landing Page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Page Title -->
    <title>VAE Watcher - VAE Analysis</title>

    <!-- Bootstrap CSS Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
  </head>

  <body class="body">
    <!-- Navegation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(3, 0, 51)">
        <a class="navbar-brand mx-auto" href="#"><b>Vaccine Adverse Events</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vaccines.html">Vaccination</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="vaes.html">VAE Analysis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="map.html">Map</a>
            </li>
        </ul>
        </div>
    </nav>

    <!-- Page Header -->
    <div class="page-header">
        <h1>VAE Watcher</h1>
    </div>

    <!-- Page Content -->
    <div class="col-md-12">
        <div class="jumbotron" style="padding: 2px; align-items: center;">
            <h7>Machine Learning: Linear Analysis/Word Analysis</h7>
            <br>
            <p class="float-center text-center">For this analysis, we tried performing linear regressions on several
                of the variables included in our data. The most interesting findings had 
                to do with age, reaction severity and deaths. Deaths, on one hand, follow a
                skewed normal distribution, where the most deaths ocurred between people of ages 80 to
                90. In terms of age and severity, younger people have stronger reactions (with more symptoms)
                due to the immune system slowing down with age. However, while being younger can cause you a 
                stronger reaction, you're less likely to die from that reaction.
            </p>
            <div class="row">
                <div class="col-md-3">
                    <img class="pictureh" src="https://i.ibb.co/whkCBFJ/agedeaths.png" alt="Card image cap">
                </div>
                <div class="col-md-3">
                    <img class="pictureh" src="https://i.ibb.co/26qXFGP/agesev-all.png" alt="Card image cap">
                </div>
                <div class="col-md-3">
                    <img class="pictureh" src="https://i.ibb.co/6PW4Ywn/agesev-pfizer.png" alt="Card image cap">
                </div>
                <div class="col-md-3">
                    <img class="pictureh" src="https://i.ibb.co/xhh3q90/wordcloudsymptoms.png" alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="jumbotron" style="padding: 2px; align-items: center;">
            <h7>Tableau Visualizations: Men vs. Women</h7>
            <br>
            <p class="float-center text-center">Women vaccinated more than men overall. However, the difference between men and women
                who reported adverse effects was interesting. More women in their 30s and 40s reported effects, 
                while men in their 50s and 60s reported more VAEs. 
            </p>
            <div class="row">
                <div class="col-md-6">
                    <img class="pictureh" src="https://i.ibb.co/7jxmrkb/men.png" alt="Card image cap">
                </div>
                <div class="col-md-6">
                    <img class="pictureh" src="https://i.ibb.co/fqHZx3r/women.png" alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="jumbotron" style="padding: 2px; align-items: center;">
            <h7>Machine Learning: Vaccine Prediction</h7>
            <br>
            <p class="float-center text-center">Using machine learning, a forecast was made for the number of adverse events 
                reported with the system, which, being proportional, can also forecast future vaccination trends. 
                Testing the accuracy of our model we can concluded that is not accurate because of the lack of data, we need more data, at least of one year to increase the accuracy of the forecast.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <img class="pictureh" src="https://i.ibb.co/s94dsxL/forecast3.png" alt="Card image cap">
                </div>
                <div class="col-md-6">
                    <img class="pictureh" src="https://i.ibb.co/PGbmb2C/forecast4.png" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>

    <!-- Necessary Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>